/* TurnIndicator.css */

.turn-indicator {
  position: fixed;
  width: 40vw;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.6); */
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.turn-indicator .info-rival {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #cc2d2d;
  text-transform: uppercase;
}
.turn-indicator .info-player {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #29df18;
  text-transform: uppercase;
}



.turn-indicator .icons {
  cursor: pointer;
  display: flex;
  gap: 15rem;
  font-size: 3rem;
  transition: opacity 0.3s ease;
}


.turn-indicator .icon {
  color: #888;
  opacity: 0.5;
  transition: color 0.9s, transform 0.3s;
}

.turn-indicator .icon:hover {
  scale: 1.1;
  transition: 0.4s ease;
}
.turn-indicator.player .icon.active {
  color: #29df18;
  transform: scale(1.2);
  opacity: 1;
}

.turn-indicator.rival .icon.active {
  color: rgb(255, 0, 0);
  transform: scale(1.2);
  opacity: 1;
}


.phase-dialog .MuiPaper-root {
  background-color: rgba(53, 53, 53, 0.938);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  color: white;
  border-radius: 12px;
  padding: 1.5rem;
}

.phase-dialog .MuiDialogTitle-root {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.phase-dialog .MuiDialogContent-root {
  font-size: 1rem;
  line-height: 1.6;
}

.phase-dialog .MuiDialogActions-root {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.phase-dialog .MuiButton-root {
   color: white !important;
  border: 1px solid white !important;
  border-radius: 6px !important;
  padding: 6px 12px !important;
  font-weight: bold !important;
  background-color: transparent !important;
  transition: background-color 0.3s ease  !important;
}

.phase-dialog .MuiButton-root:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.info-icon {

  margin-left: 0.5rem;
  color: #4253b4;
}

.dialog-content h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: rgba(255, 255, 255, 0.726);
} 


.dialog-content {
  overflow: auto  !important;
  scrollbar-width: none !important;
} 


.dialog-content::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari */
}


.custom-dialog {
  height: 50vh;
  background-color: rgba(36, 36, 36, 0.966) !important;
  border: 2px solid rgba(255, 255, 255, 0.212) !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05) !important;
  color: white !important;
  border-radius: 12px !important;
  padding: 1.5rem !important;

}

.dialog-close-button {
   color: white !important;
  border: 1px solid white !important;
  border-radius: 6px !important;
  padding: 6px 12px !important;
  font-weight: bold !important;
  background-color: transparent !important;
  transition: background-color 0.3s ease  !important;
}

.dialog-close-button:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.info-icon {
  margin-left: 0.5rem;
  cursor: pointer;
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.info-icon:hover {
  transform: scale(1.2);
  color: #ccc;
}

.keyword {
  color: #c0b303; /* o el color que quieras */
  font-weight: bold;
}




@media (max-width: 435px) {


.info-label {
  display: none;
}
.info-icon {
  transform: translateY(100%) translateX(650%);
}

/* .info-icon:hover {
  transform: scale(1.2);
  color: #ccc;
} */
/* .turn-indicator {
  display: flex;
} */

.turn-indicator .info-player {
  font-size: 0.9rem;
}

.turn-indicator .info-rival {
    font-size: 0.9rem;
}

.turn-indicator .icons {
  display: flex;
  gap: 5rem;
  font-size: 1.3rem;
  transition: opacity 0.3s ease;
}


  .phase-dialog .MuiPaper-root {
    width: 90vw;
    padding: 1rem;
    font-size: 0.9rem;
  }

  .phase-dialog .MuiDialogTitle-root {
    font-size: 1.1rem;
  }

  .phase-dialog .MuiDialogContent-root {
    font-size: 0.9rem;
  }

  .phase-dialog .MuiButton-root {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

.custom-dialog {
    height: 35vh;
  font-size: 0.7rem !important;
  padding: 1rem !important;
  background-color: rgb(19, 19, 19) !important;
  z-index: 100000 !important;
}



}
