.player-table-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  z-index: 10;
  min-width: 400px;
  height: 180px;
  border-radius: 25px;
  /* background: linear-gradient(
    to top,
    rgba(21, 255, 0, 0.315) 0%,
    rgba(30, 255, 0, 0.226) 10%,
    rgba(255, 255, 255, 0.616) 50%,
    rgba(255, 255, 255, 0) 85%
  ); */
}


.switchToAttack{
  border-radius: 10px !important;
  background-color: rgba(44, 44, 44, 0.966) !important;
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05) !important;
  color: rgb(211, 210, 210) !important;
}
.player-table-container:hover {
  z-index: 1000;
}

.player-card-wrapper {
  position: relative;
  height: 100%;
}


.player-card-image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}


.player-card-table {
  width: 100px;
  height: 138px;
  border-radius: 4px;
  overflow: visible;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.player-card-table:hover {
  transform: scale(2.3);
  /* border: 2px solid rgba(19, 128, 0, 0.8); */
  border-radius: 6px;
  z-index: 100000;
}

/* ATACANDO */
.player-card-table.selected {
  /* transform: translateY(-15%); */
  border-radius: 6px;
  z-index: 1000;
}

.player-card-image.selected:hover {
  transform: scale(1.05);
  border: 2px solid rgba(19, 128, 0, 0.8);
  border-radius: 6px;
  z-index: 1000;
}



.player-card-inner.selected::before {
  content: 'ATACANDO';
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(19, 128, 0, 0.85);
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  z-index: 20;
}


/* EN BATALLA */
.player-card-in-battle {
  border: 3px solid rgb(220, 20, 203);
  border-radius: 5px;
  /* transform: translateY(-15%); */
  position: relative;
  z-index: 20;
}

.player-card-in-battle:hover {
  box-shadow: 0 0 30px rgb(220, 20, 203);
}



.player-card-in-battle::before {
  content: 'BATALLA';
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(220, 20, 203);
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Equipamientos */
.player-equipment-count {
  position: absolute;
  top: 4px;
  left: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 6px;
  font-weight: bold;
  z-index: 30;
}

.player-equipment-preview {
  position: absolute;
  bottom: 100%;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease, transform 1s ease;
  z-index: 30;
}

.player-card-table:hover .player-equipment-preview {
  opacity: 1;
  visibility: visible;
  transform: translateY(-20px);
}


.player-equipment-wrapper {
  position: relative;
  display: inline-block;
  z-index: 500;
  width: 40px;
  height: 60px;
  flex-shrink: 0;
}

.player-equipment-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  transition: 0.5s;
   z-index: 1000;
}

/* .player-equipment-image:hover {
  scale: 2.3;
  z-index: 1000;
} */

.player-equipment-wrapper:hover {
  scale: 2.3;
  z-index: 10000;
  transition: 0.5s;
}

.player-ability-tags {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 4.5vh;
  gap: 4px;
  z-index: 3;
  justify-content: flex-start;
  max-width: 90%;
  overflow-x: auto;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

/* Oculta la scrollbar en Chrome/Safari */
.player-ability-tags::-webkit-scrollbar {
  display: none;
}


.ability-tag {
  background-color: #2e7d32; /* verde permanente */
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 4px;
  font-weight: bold;
}

.ability-tag.temp {
  background-color: #b71c1c83; /* rojo temporal */
}


/* Animaciones */
.player-card-fade-out {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.player-card-new {
  position: relative;
  animation: player-card-enter-from-center 1.5s ease-out;
  z-index: 1000;
}



.player-card-stats {
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 0 6px 6px;
  margin-top: 0.3rem;
}

.player-stats-numerics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.player-stats-abilities,
.player-stats-abilities.temp {
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.player-stats-abilities .label {
  font-weight: bold;
  color: #c9c611;
}

.player-stats-abilities ul {
  padding-left: 1rem;
  margin: 0.2rem 0;
}

.player-stats-abilities.temp .label {
  color: #ff8080;
}


.player-card-center-stats {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 8px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 4px 8px;
  z-index: 40;
}

.player-card-center-stats .atk {
  color: #f80000;
  font-weight: bold;
}
.player-card-center-stats .blnc {
  color: #ececec;
  font-weight: bold;
}

.player-card-center-stats .hp {
  color: #15ff00;
  font-weight: bold;
}



.equipment-bonus {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.45rem;
  font-weight: bold;
  color: rgb(68, 216, 0);
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2px 4px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 9999;
  pointer-events: none;
}


.player-drop-hover {
  box-shadow: 0 0 10px 4px #2196f3 !important;
  transition: box-shadow 0.2s ease;
}





@keyframes player-card-enter-from-center {
  0% {
    transform: translate(0%, -25%) scale(3);
    opacity: 0;
    z-index: 9999999;
  }
  70% {
    opacity: 1;
    transform: translate(0%, -25%) scale(3);
    z-index: 9999999;
  }
  100% {
    transform: translate(0, 0) scale(1);
    z-index: 9999999;
  }
}

@keyframes player-card-enter-mobile {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes tableplayerMoveToCenter {
  from {
    transform: translateY(-50%, -50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/* Botones */
.phase-buttons {
  position: absolute;
  bottom: 30%;
  right: 1%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1000;
}

.phase-buttons-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.phase-button,
.noDefense-button,
.end-turn-button {
  font-size: 1rem;
  text-transform: none;
  background-color: #cfba00d8 !important;
  color: rgb(0, 0, 0) !important;
  z-index: 100;
}

.phase-button:hover,
.noDefense-button:hover,
.end-turn-button:hover {
  background-color: #2d8f00 !important;
  color: rgb(255, 255, 255) !important;
}



.noDefense-button {
  color: rgb(128, 0, 0) !important;
}

.noDefense-button:hover {
  color: white !important;
  background-color: rgb(128, 0, 0) !important;
}


/* @keyframes epicAttack {
  0% {
    transform: scale(1) translateY(0);
    box-shadow: none;
    filter: brightness(1);
  }
  40% {
    transform: scale(1.1) translateY(-70px);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    filter: brightness(1.3);
  }
  60% {
    transform: scale(1.05) translateY(-70px);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    filter: brightness(1.1);
  }
  100% {
    transform: scale(1) translateY(0);
    box-shadow: none;
    filter: brightness(1);
  }
}

.attack-animating {
  animation: epicAttack 0.6s ease-in-out;
  z-index: 2;
} */


@keyframes glow {
  0%   { box-shadow: 0 0 0px yellow; }
  50%  { box-shadow: 0 0 20px 10px yellow; }
  100% { box-shadow: 0 0 0px yellow; }
}

.player-highlighted {
  
  animation: glow 1s ease-out;
  animation-delay: 1.5s;
  z-index: 10;
}



/* Móvil */
@media (max-width: 435px) {
  .player-table-container {
    height: 140px;
    width: 97vw;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: visible;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .player-table-container::-webkit-scrollbar {
    display: none;
  }

  .player-card-table {
    width: 70px;
    height: 100px;
    flex: 0 0 auto;
  }


  .player-card-new {
  position: relative;
  animation: player-card-enter-mobile 1.5s ease-out;
  
}
  .player-card-table:hover {
    transform: none;
  }

  .player-card-table.selected:hover {
    transform: none;
  }

.player-ability-tags {
  position: absolute;
  top: 4vh;
  height: auto;
  max-height: 4.5vh;
}

.ability-tag {
  font-size: 0.5rem;
}


 .player-equipment-wrapper {
  width: 60px;
  height: 85px;
}

.player-equipment-image {
  width: 100%;
  height: 100%;
}


  .player-equipment-image:hover {
    scale: 0;
  }

  .phase-buttons {
    right: -33%;
    top: 109%;
    width: 100%;
    gap: 0.5rem;
  }

  .phase-buttons-inner {
    flex-direction: column;
  }

  .phase-button,
  .end-turn-button,
  .resetBattle-button,
  .noDefense-button {
    font-size: 0.6rem !important;
    padding: 0.5rem 0.5rem !important;
  }
.player-card-inner.selected::before {
  content: 'ATAQUE';
  top: 6px; /* Puedes ajustar esto si lo quieres más arriba o más centrado */
  font-size: 10px;
  padding: 1px 4px;
}


.player-card-center-stats {

  bottom:-1.7vh;
}


@keyframes tableplayerMoveToCenter {
  from {
    transform: translateY(-50%, -50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.player-long-pressed {
   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2.2);
  z-index: 10000;
  border-radius: 6px;
  pointer-events: none;
  animation: tableplayerMoveToCenter 0.4s ease forwards;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

}
