.profile-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  z-index: 5;
  
}

.profile-with-deck {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  
}

.profile-card {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.avatar-wrapper {
  position: relative;
}

.avatar-image {
  width: 150px !important;
  height: 150px !important;
  margin-bottom: 8px;
}

.life-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.84) 30%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 70%);
}

.life-text {
 color: rgb(0, 87, 0) !important;
  font-weight: bold !important;
  font-size: 3rem !important;
}

.profile-name {
  color: rgb(0, 87, 0) !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}


.deck-preview {
  position: relative;
  width: 130px;
  height: 180px;
}

.deck-card-image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.deck-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #83838365;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 10px 25px;
  font-size: 3rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.mana-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
}

.mana-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mana-count {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(251, 255, 0);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}



.clickable {
  cursor: pointer;
  position: relative; /* Necesario para posicionar ::after */
  transition: transform 0.2s ease;
}

.clickable:hover {
  filter: brightness(0.4) sepia(1) hue-rotate(-20deg) saturate(5) contrast(1.4);
  transform: scale(1.05);
  transition: all 0.3s ease;
}


.clickable::after {
  content: '💀';
  color: rgb(255, 0, 0);
  position: absolute;
  width: 150px !important;
  height: 150px;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease;
  border-radius: 50%;
  pointer-events: none;

  /* Centrado del contenido */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}


.clickable:hover::after {
  opacity: 1;
}

.surrendering {
  filter: brightness(0.4) sepia(1) hue-rotate(-20deg) saturate(5) contrast(1.4);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.surrendering::after {
  content: '💀';
  position: absolute;
  width: 150px;
  height: 150px;
  inset: 0;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  opacity: 1;
  pointer-events: none;
  animation: bloodPulse 0.8s ease;
}

@keyframes bloodPulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}




@media (max-width: 435px) {
  .profile-container {
    position: fixed;
    bottom: 15vh;
    left: 35%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 10;
    min-width: 65%;
    width: auto;
  }

  .profile-with-deck {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* Reducido */
    border-radius: 8px;
    padding: 0px 8px; /* Menor padding */
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    }

  .profile-card {
    flex-direction: row;
    align-items: center;
    padding: 4px 6px;
    gap: 0.5rem;
    background-color: transparent;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
  }

  .avatar-image {
    width: 64px !important;
    height: 64px !important;
    margin-bottom: 0;
  }

  .life-text {
    font-size: 1.5rem !important;
  }

  .profile-name {
    font-size: 0.9rem !important;
  }

  .mana-wrapper {
    width: 26px;
    height: 26px;
  }

  .mana-count {
    font-size: 0.9rem;
  }

  .deck-card-image{
    width: auto;
  }

  .deck-preview {
    width: 45px;
    height: 63px;
  }

  .deck-count {
    font-size: 1.2rem;
    padding: 4px 8px;
  }
 
  .surrendering::after {
    content: '💀';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    animation: bloodPulse 0.8s ease;
  }
}




