.missions-container {
  padding: 2rem;
  color: #f0f0f0;
  font-family: 'Georgia', serif;
  text-align: center;
  
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.missions-container h2 {
  color: #c9c611;
  margin-bottom: 1rem;
}

.missions-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1.5rem;
}

.mission-item {
  border-radius: 10px;
  padding: 1rem;
  text-align: left;
}

.mission-item h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #c9c611;
}

.mission-item p {
  margin: 0.5rem 0;
}

.mission-reward {
  font-size: 0.9rem;
  color: #aaa;
}

.missions-empty {
  color: #aaa;
  font-style: italic;
  margin: 2rem;
}


@media (max-width: 435px) {
.missions-container {
  position: absolute;
  top: 80vh;
  right: 15vw;
  width: 4vw;
  height: 10vh;
  padding: 2rem;
  text-align: center;
  color: #f0f0f0;
  font-family: 'Georgia', serif;
  /* background-color: #09ff00; */
}

}
